@charset "UTF-8";


/* CSS Document */


/*
	----------------------------
	HTML SELECTORS
	____________________________
*/

html, body, pre, code, kbd, samp {
	font-family: 'Press Start 2P';
}

a { color: #fff; text-decoration: none;}

/*
	----------------------------
	LAYOUT
	____________________________
*/

#wrapper { margin: 0 auto;}
#main { position:absolute;

		background: #fff;
		margin: 0 auto; 
		
		width: 27em; height: 1em;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
	}