@charset "UTF-8";


/* CSS Document */


/*
	----------------------------
	HTML SELECTORS
	____________________________
*/

html, body, pre, code, kbd, samp {
	font-family: 'Press Start 2P';
}

a { color: #fff; text-decoration: none;}

/*
	----------------------------
	LAYOUT
	____________________________
*/

#wrapper { margin: 0 auto;}
#main { position:absolute;

		margin: 2em; 

		width: 27em; height: 1em;
		left: 50%; transform: translateX(-60%);
		top: 40%;
	}