@charset "UTF-8";


/* CSS Document */


/*
	----------------------------
	HTML SELECTORS
	____________________________
*/


body { background: transparent; font:14px/21px Helvetica, Arial, sans-serif; color: #fff; margin: 0; padding: 0; }
a { color: #fff; }


/*
	----------------------------
	LAYOUT
	____________________________
*/


#wrapper { width: 960px; margin: 0 auto; background: rgba(7, 7, 7, 0.8);}
#main { width: 640px; margin: 0 auto; text-align:center;}